<!DOCTYPE html>
<html>
<head>
    <title>Flask Login App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="prediction">
        <h1>RECOMMENDATION</h1>
        <table>
            <tr>
                <th>REASON</th>
                <th>DRUG NAME</th>
                <th>MANUFACTURING INDUSTRY</th>
                <th>RATING</th>
            </tr>
            {% for item in data %}
            <tr>
               <td>{{item.REASON}}</td>
               <td>{{item.DRUG_NAME}}</td>
               <td>{{item.MANUFACTURER}}</td>
               <td>{{item.RATING}}</td>    
            </tr>
            {% endfor %}
        </table> 
        <br>
        <br>
        

        <!-- <div class="RECOMMENDATION">
            <h4style="text-align: left">FOR RECOMMENDATION OF DRUGS:</h1>
            <div class="form">
                <form action="/prediction" method="POST">
                    <input type="submit" value="Enter">
                </form>
            </div>
        </div> -->
        
            
       
    </div>
</body>
</html>




